@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
	--font-family-title: "Almendra", serif;
	--font-family-body: "Almendra", sans-serif;

	--color-bg-dark: #2d2d2d;
	--color-bg-light: #eae0d2;
	--color-text-dark: #2d2d2d;
	--color-text-light: #eae0d2;
	--color-primary: #a68763;
	--secondary-color: #d7c9ae;
	--color-item-weapon: #792e29;
	--color-item-arrow: #aba38f;
	--color-item-armor: #24201d;
	--color-item-shield: #24201d;
	--color-item-potion: #565538;
	--color-item-material: #aba38f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-title);
	font-weight: 400;
	font-style: italic;
	text-transform: capitalize;
}

p,
span,
a,
li {
	font-family: var(--font-family-body);
	font-weight: 400;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: var(--font-family-body);
	font-size: 16px;
	color: var(--color-text-dark);
	background: url(../assets/images/image-bg-menu.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(
		ellipse at center,
		color-mix(in srgb, var(--color-bg-dark) 25%, transparent),
		color-mix(in srgb, var(--color-bg-dark) 25%, transparent) 50%,
		var(--color-bg-dark) 100%
	);
	pointer-events: none;
	z-index: 0;
}

#root {
	position: absolute;
	overflow: hidden;
	width: 1366px;
	height: 768px;
	transform-origin: 0 0;
}

img {
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	max-width: 100%;
	height: auto;
}

.route-link {
	line-height: 1.8;
	padding: 0.5rem 3rem 0.5rem 3rem;
	color: var(--color-text-light);
	text-align: center;
	text-transform: capitalize;
	clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.route-link:focus {
	outline: none;
}

.route-link.selected {
	background-color: color-mix(in srgb, var(--color-primary) 75%, transparent);
	color: var(--color-text-light);
}
