@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Variables */
:root {
	/* Typography */
	--font-family-title: "Almendra", serif;
	--font-family-body: "Almendra", sans-serif;

	/* Colors */
	--color-bg-dark: #2d2d2d;
	--color-bg-light: #eae0d2;
	--color-text-dark: #2d2d2d;
	--color-text-light: #eae0d2;
	--color-primary: #a68763;
	--secondary-color: #d7c9ae;
}

/* Typography Class */
.main-title-size {
	font-size: clamp(3rem, calc(2.5rem + 5vw), 8rem);
}

/* Spacing */
.main-page-padding {
	padding-block: clamp(1.5rem, calc(1rem + 5vh), 5rem);
	padding-inline: clamp(2rem, calc(1rem + 5vw), 5rem);
}

/* Icons */
.icon--small {
	width: 1.8rem;
	height: 1.8rem;
}

/* Interface */
.navigation-guide {
	position: absolute;
	bottom: 20px;
	left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.shadow-background {
	background: radial-gradient(
		ellipse at center,
		color-mix(in srgb, var(--color-bg-dark) 25%, transparent),
		color-mix(in srgb, var(--color-bg-dark) 25%, transparent) 50%,
		var(--color-bg-dark) 100%
	);
}

/* Global Styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-title);
	font-weight: 400;
	font-style: italic;
	text-transform: capitalize;
}

p,
span,
a,
li {
	font-family: var(--font-family-body);
	font-weight: 400;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

:root {
	color: var(--color-text-dark);
	background: url(../assets/images/image-bg-menu.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: var(--font-family-body);
	max-height: 100vh;
}

input {
	font-family: var(--font-family-body);
	font-weight: 400;
	background-color: color-mix(in srgb, var(--color-bg-dark) 50%, transparent);
	border: none;
	font-size: 16px;
	border-radius: 4px;
	padding: 2px 4px;
	color: var(--color-text-light);
}

input:focus {
	outline: none;
}

select {
	font-family: var(--font-family-body);
	font-weight: 400;
	background-color: color-mix(in srgb, var(--color-bg-dark) 50%, transparent);
	border: none;
	font-size: 16px;
	border-radius: 4px;
	padding: 2px 4px;
	color: var(--color-text-light);
}

select:focus {
	outline: none;
}
