.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1366px;
	height: 768px;
	gap: 2rem;
}

.menu__title {
	text-align: center;
	color: var(--color-text-light);
	font-style: italic;
}

.menu__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
